<link href="~/Content/HomeIndex.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<div class="row header">
    <div class="col-md-12">
        <p onmouseover="dressOver(this)" onmouseout="dressOut(this)" class="table-header" id="HomeHeader">
            Getting Dressed
        </p>
        <p class="table-header">
            Hawaiian Style
        </p>
    </div>
</div>

<!-- carousel -->
<div class="row carousel">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="carousel_wrapper">
            <div class="carousel" id="HomeCarousel" >
                <div class="slide one">
                    <img src="~/Content/images/IMG_0866.JPG" />
                </div>
                <div class="slide two">
                    <img src="~/Content/images/tops/BlackGreenFronds.jpg" />
                </div>
                <div class="slide three">
                    <img src="~/Content/images/bottoms/BlueWhiteShorts.jpg" />
                </div>
                <div class="slide four">
                    <img src="~/Content/images/accessories/SteelKoaWatch.jpg" />
                </div>
                <div class="slide five">
                    <img src="~/Content/images/Ford.jpg" />
                </div>
                <div class="slide six">
                    <img src="~/Content/images/tops/BlueTankTop.jpg" />
                </div>
                <div class="slide seven">
                    <img src="~/Content/images/bottoms/RedHibiscusShorts.jpg" />
                </div>
                <div class="slide eight">
                    <img src="~/Content/images/shoes/Slippahs.jpg" />
                </div>
                <div class="slide nine">
                    <img src="~/Content/images/accessories/TurtleNecklace.jpg" />
                </div>
            </div><!-- / .carousel -->
        </div><!-- / .carousel_wrapper -->
    </div>
    <div class="col-md-2"></div>
</div>


