body {
    background-image: url('images/bottoms/OrangeRedHibiscus.jpg');
    background-position: center, center;
    background-size:contain;
}

div.caption.bottoms-details {
    background-image: url('images/bottoms/RedHibiscusShorts.jpg');
    background-position:center center;
    background-size:contain;
    justify-content:center;
    align-items:center;
    font-size:1.5vw;
    font-weight:bold;
    color:#ffffff;
}

p.description {
    font-size: 2.5vw;
    font-weight: bold;
    color: #ffffff;
}